body {
    background-color: #000;
    color: #0f0;
    text-align: center;
    font-family: 'Courier New', monospace;
}
button {
    padding: 15px 30px;
    background: #222;
    color: lime;
    border: 2px solid lime;
    cursor: pointer;
    font-weight: bold;
}
button:hover {
    background: lime;
    color: black;
}
